body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px -2px #b4b4b4;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation,
.feature-recomendation ul,
.feature-3-4-5 ul,
.footer-social ul,
.catalog ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.catalog-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-title a {
  color: inherit;
}

.catalog-item-title {
  position: relative;
  top:-6px;
  display: block;
  font-size: 21px;
  line-height: 26px;
}

.site-navigation span {
  color: #766357;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.welcome {
  text-align: center;
}

.welcome-image-background {
  background-color: #c2dcf5;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: -83px;
  min-height: 591px;
}

.welcome img {
  margin-top: 159px;
}

.small-city strong {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.welcome::after {
  display: block;
  content: " ";
  position: relative;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 1200px;
  height: 59px;
  bottom: -17px;
}

.feature-1,
.feature-2 {
  background-color: #81b3d2;
  color: #ffffff;
  box-sizing: border-box;
  height: 256px;
}

.feature-2 {
  flex-direction: row-reverse;
}

.feature-real-city {
  padding-top: 47px;
  padding-bottom: 59px;
  padding-left: 60px;
  padding-right: 60px;
}

.feature-real-city p:first-of-type,
.feature-diablo p:first-of-type {
  margin-bottom: 24px;
}

.feature-real-city p:nth-of-type(2),
.feature-diablo p:nth-of-type(2) {
  margin-bottom: 21px;
}

.feature-diablo {
  padding-top: 46px;
  padding-bottom: 60px;
  padding-left: 48px;
  padding-right: 49px;
}

.feature-recomendation {
  padding-top: 60px;
  padding-bottom: 82px;
  background-color: #ffffff;
  min-height: 330px;
  box-sizing: border-box;
  z-index: 2;
}

.feature-3-4-5 {
  background-color: #eeeeee;
  padding-top: 47px;
  padding-bottom: 62px;
  z-index: 2;
}

.feature-1 strong,
.feature-2 strong {
  font-size: 21px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.feature-recomendation strong,
.feature-3-4-5 strong {
  display: block;
  width: 60%;
  margin: 0 auto;
  font-size: 21px;
  color: #000000;
}

.feature-real-city,
.feature-diablo,
.feature-recomendation li,
.feature-3-4-5 li
{
  text-align: center;
}

.item-housing {
  padding-left: 73px;
  padding-right: 75px;
}

.item-housing::before {
  display: block;
  content: " ";
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 75px;
  height: 72px;
}

.item-food {
  padding-left: 57px;
  padding-right: 57px;
}

.item-food::before {
  display: block;
  content: " ";
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  margin: 1px auto 30px auto;
  width: 74px;
  height: 70px;
}

.item-souvenirs {
  padding-left: 63px;
  padding-right: 63px;
}

.item-souvenirs::before {
  position: relative;
  top: -4px;
  display: block;
  content: " ";
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 64px;
  height: 76px;
}

.feature-item p:first-of-type {
  margin-bottom: 24px;
}

.feature-item .item-number {
  margin-bottom: 21px;
}

.future-square {
  padding-left: 95px;
  padding-right: 97px;
}

.future-road {
  padding-left: 69px;
  padding-right: 69px;
}

.future-tourists {
  padding-left: 76px;
  padding-right: 76px;
}

.interest {
  display: flex;
  flex-direction: column;
  width: 568px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.interest strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interest p,
.catalog-article-item p,
.catalog-article-item h3 {
  margin: 0;
}

.interest .interest-info {
  margin-bottom: 23px;
}

.interest .interest-estimated-date {
  margin-bottom: 47px;
}

.interest-estimated-date {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 46px;
}

.interest-form {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  min-height: 395px;
  box-sizing: border-box;
  padding: 52px 55px 55px 55px;
  box-shadow: 0 5px 20px -2px #b4b4b4;
  z-index: 2;
}

.interest-form p {
  margin-bottom: 25px;
}

.interest-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.interest-date {
  justify-content: space-between;
}

.interest-item input {
  text-transform: uppercase;
}

.interest-item input:focus {
  outline: 2px solid #e5e5e5;
}

.interest-people:last-of-type {
  padding-left: 50px;
}

.interest-item:nth-child(3) {
  padding-right: 3px;
}

.interest-people {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 229px;
}

.interest-people label {
  margin-right: auto;
}

.interest-input-people {
  width: 38px;
  height: 38px;
  text-align: center;
  box-sizing: border-box;
  padding: inherit;
  padding: 6px 3px;
}

.button-size {
  position: relative;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  border: none;
}

.button,
.button-size {
  cursor: pointer;
}

.button-minus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  top: 18px;
  left: 14px;
}

.button-plus::before,
.button-plus::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: 18px;
  right: 13px;
}

.button-plus::before {
  transform: rotate(90deg);
}

.button-minus:hover::before,
.button-plus:hover::before,
.button-plus:hover::after {
  background-color: #000000;
}

.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
  background-color: #81b3d2;
}

.interest-date input {
  box-sizing: border-box;
  width: 346px;
}

.interest input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.interest input:hover {
  background-color: #ebebeb;
}

.interest input:focus {
  background-color: #ffffff;
  box-shadow:
    inset 0 0 0 2px #e5e5e5;
}

.interest-input-date {
  padding: 6px 13px;
}

.calendar {
  content: "";
  position: absolute;
  transform: translate(428px, 0);
  cursor: pointer;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.footer-logo-academy {
  display: flex;
}

.footer-logo-academy:hover {
  fill: #81b3d2;
}

.footer-logo-academy:active {
  fill: #bdbbbc;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}

.button-find {
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.button-search {
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin-top: 21px;
}

.button-find:hover,
.button-find:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-find:active,
.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:hover,
.button-search:focus,
.button-detail:hover,
.button-detail:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-detail:active,
.social-button:active {
  background-color: #5496bd;
}

.filter-background-image {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 217px;
}

.form-filter {
  display: flex;
}

.form-fieldset:first-of-type {
  margin-right: 115px;
}

.form-fieldset:last-of-type {
  margin-left: auto;
}

.form-legend {
  margin-bottom: 25px;
}

.filter-decoration {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  padding-bottom: 33px;
  box-sizing: border-box;
}

.filter-decoration ul,
.filter-decoration fieldset,
.sort ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-decoration fieldset {
  border: none;
}

.filter-decoration legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: content-box;
}

.price-controls::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 0;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price {
  width: 92px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 104px;
  padding-left: 53px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  position: absolute;
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-view {
  display: block;
  margin: 0 auto;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 3px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  background-color: transparent;
  padding: 6px 35px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button-view:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 49px;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sort-list-item {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dashed rgba(129, 179, 210, 1);
  font-size: 12px;
  line-height: 18px;
}

.sort-list-ul-wrapper {
  display: flex;
}

.sort-list-ul-wrapper:last-of-type {
  width: 34px;
  justify-content: space-between;
  margin-left: auto;
}

.sort-list-ul-wrapper:nth-of-type(1) {
  justify-content: space-between;
  width: 238px;
}

.sort-current {
	color: #81b3d2;
	text-decoration: none;
}

.sort-list-current {
	fill: #81b3d2;
}

.sort ul,
.sort p {
  padding: 0;
}

.sort-list-item:hover {
  color: #81b3d2;
}

.sort-list-item:active {
  color: #000000;
  text-decoration: none;
}

.sort-list-up:hover,
.sort-list-down:hover {
  fill: #231f20;
}

.sort-list-up:active,
.sort-list-down:active {
  fill: #81b3d2;
}

.filter-option:not(:last-child) {
  margin-bottom: 23px;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  width: 27px;
  height: 23px;
}

input[type="checkbox"]:not(:checked) + label::before {
  background: url("../img/checkbox-off.svg") no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  width: 27px;
  height: 23px;
}

input[type="checkbox"]:checked:disabled + label::before {
  background: url("../img/checkbox-on-disabled.png") no-repeat;
  content: "";
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  width: 27px;
  height: 23px;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-off-disabled.png") no-repeat;
  content: "";
  position: absolute;
  background-size: cover;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  width: 23px;
  height: 23px;
}

.catalog {
  border-top: 1px solid #e5e5e5;
}

.catalog-list,
.main-navigation ul,
.feature-recomendation ul,
.feature-3-4-5 ul,
.feature p {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  min-height: 90px;
  padding: 30px 72px;
}

.catalog-article {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.catalog-article-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
}

.hotel-information-block {
  margin-right: 522px;
}

.hotel-information {
  display: flex;
  min-height: 62px;
}

.hotel-information p:first-child {
  margin-right: 6px;
}

.hotel-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-picture {
  display: flex;
  margin-right: 30px;
}

.button-detail {
  display: inline-block;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
}

.button-reservation {
  display: inline-block;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
}

.map {
  position: relative;
  margin-top:-395px;
  height: 473px;
  z-index: 1;
}

.map-image {
  background-color: #eeeeee;
  background-image: url("../img/map.jpg");
  background-size: 1200px 594px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 594px;
}

.stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-size: 18px;
}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 65px;
}

.stars-2 {
  width: 41px;
}

.hotel-rating {
  align-items: flex-end;
}

.rating-value {
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #666666;
  width: 110px;
  padding: 3px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.footer-contacts {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin: 0;
}

.footer-contacts a {
  color: #000000;
  text-decoration: none;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button a {
  display: block;
  height: 100%;
}

.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-facebook {
  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: #000000;
  line-height: 26px;
  margin: auto 0;
}

.footer-copyright p {
  margin-right: 8px;
}

.site-navigation {
  display: flex;
  min-height: 56px;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation li {
  display: flex;
  justify-content: flex-start;
  flex-basis: 25%;
  box-sizing: border-box;
}

.site-navigation li:first-child {
  padding-left: 73px;
}

.site-navigation li:last-child {
  padding-right: 73px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  justify-content: flex-end;
}

.site-navigation li:nth-child(2) {
  padding-left: 12px;
}

.site-navigation li:nth-child(3) {
  padding-right: 12px;
}

.main {
  display: flex;
  flex-direction: column;
}

.features {
  margin-bottom: 50px;
}

.feature {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 256px;
}

.feature-1-image,
.feature-2-image {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.feature-1-image {
  position: absolute;
  padding-bottom: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.feature-2-image {
  position: absolute;
  padding-bottom: 8px;
  top: 50%;
  transform: translate(-150%, -50%);
}

.feature-list {
  display: flex;
}

.feature-item {
  width: 400px;
  box-sizing: border-box;
}

.small-city {
  display: flex;
  min-height: 216px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
}

.small-city-block {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  z-index: 2;
}

.small-city-text-1 {
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 0;
  margin-bottom: 25px;
}

.small-city-text-2 {
  margin: 0;
}

.sort {
  display: flex;
  align-items: center;
  height: 86px;
  padding: 0 72px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 36px 0;
  margin: 0;
  z-index: 1;
}

.main-footer .main-footer-wrap {
	display: flex;
  justify-content: space-between;
	align-items: center;
  margin-top: -3px;
	padding-left: 123px;
	padding-right: 101px;
  flex-basis: 33.33%;
}

.footer-social {
  margin-right: 45px;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ----- подсветка блоков ----- */

div,
fieldset {
  box-shadow: 0 0 0 1px green;
}

section,
li {
  outline: 1px solid red;
}

p,
ul,
a {
  outline: 1px solid blue;
}
