body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-logo {
  position: absolute;
  left: 529px;
}

.site-navigation,
.feature-recomendation ul,
.feature-3-4-5 ul,
.footer-social ul,
.catalog ul {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.catalog-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation span {
  color: #766357;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.welcome {
  text-align: center;
}

.welcome-image-background {
  background-color: #c2dcf5;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: -83px;
  min-height: 591px;
}

.welcome img {
  margin-top: 159px;
}

.small-city strong {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.welcome::after {
  display: block;
  content: " ";
  position: relative;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 1200px;
  height: 59px;
  bottom: -15px;
}

.feature-1,
.feature-2 {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-3-4-5 {
  background-color: #eeeeee;
}

.feature-1 strong,
.feature-2 strong {
  font-size: 21px;
}

.feature-recomendation strong,
.feature-3-4-5 strong {
  font-size: 21px;
  color: #000000;
}

.feature-real-city,
.feature-diablo,
.feature-recomendation li,
.feature-3-4-5 li
{
  text-align: center;
}

.item-housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.item-food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.item-souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.interest {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
}

.interest strong {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.estimated-date {
  font-size: 14px;
  line-height: 24px;
}

.interest form {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.interest input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  padding: 6px 13px;
}

.interest input:hover {
  background-color: #ebebeb;
}

.interest input:focus {
  background-color: #ffffff;
  box-shadow:
    inset 0 0 0 2px #e5e5e5;
}

.interest-calendar-arrival,
.interest-calendar-departure {
  position: relative;
  top: 6px;
  right: 30px;
}

.interest-calendar-arrival:hover,
.interest-calendar-departure:hover {
  fill: #000000;
}

.interest-calendar-arrival:active,
.interest-calendar-departure:active {
  fill: #81b3d2;
}

.footer-logo-academy:hover {
  fill: #81b3d2;
}

.footer-logo-academy:active {
  fill: #bdbbbc;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-align: center;
}

.button-find {
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
}

.button-search {
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
}

.button-find:hover,
.button-find:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-find:active,
.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:hover,
.button-search:focus,
.button-detail:hover,
.button-detail:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-detail:active,
.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filter-background-image {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter-decoration {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-decoration ul,
.sort ul {
  list-style: none;
}

.filter-decoration fieldset {
  border: none;
}

.filter-decoration legend {
  font-size: 16px;
  font-weight: 700;
}

.button-view {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 3px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  background-color: transparent;
  padding: 6px 34px;
  text-transform: uppercase;
  text-align: center;
}

.button-view:hover {
  color: #000000;
  background-color: #ffffff;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;
}

.sort-list-item {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dashed rgba(129, 179, 210, 1);
  font-size: 12px;
  line-height: 18px;
}

.sort-list-item:hover {
  color: #81b3d2;
}

.sort-list-item:active {
  color: #000000;
  text-decoration: none;
}

.sort-list-up:hover,
.sort-list-down:hover {
  fill: #231f20;
}

.sort-list-up:active,
.sort-list-down:active {
  fill: #81b3d2;
}

.filter-infrastructure,
.filter-type-of-housing {
  margin-bottom: 25px;
}

.catalog {
  border-top: 1px solid #e5e5e5;
}

.catalog-list,
.main-navigation ul,
.feature-recomendation ul,
.feature-3-4-5 ul {
  margin: 0;
  padding: 0;
}

.catalog-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.button-detail {
  display: inline-block;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
}

.button-reservation {
  display: inline-block;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
}

.map {
  background-color: #eeeeee;
  background-image: url("../img/map.jpg");
  background-size: 1200px 594px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 594px;
}

.stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-position: top right;
}

.stars-4 {
  width: 72px;
}

.stars-3 {
  width: 54px;
}

.stars-2 {
  width: 36px;
}

.rating-value {
  background-color: #f2f2f2;
  color: #666666;
  width: 110px;
  padding: 3px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.footer-contacts {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.footer-contacts a {
  color: #000000;
  text-decoration: none;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button a {
  display: block;
  height: 100%;
}

.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-facebook {
  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-copyright {
  color: #000000;
  line-height: 26px;
  text-align: right;
}

/* ----- Сеточные стили ----- */

div {
  box-shadow: 0 0 0 1px green;
}

section,
li {
  outline: 1px solid red;
}

p,
ul,
a {
  outline: 1px solid blue;
}

/* body {
  background-image: url("D:/HTML-Academy-intensive/Макеты Седоны/sedona-preview_jpeg/sedona-index.jpg");
  background-size: 1280px auto;
  background-repeat: no-repeat;
  background-position: top center;
} */

.site-navigation {
  display: flex;
  min-height: 56px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-navigation li {
  display: flex;
  flex-grow: 1;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  justify-content: flex-end;
}

.site-navigation li:first-child,
.site-navigation li:last-child {
  margin: 0 73px;
}

.main {
  display: flex;
  flex-direction: column;
}

.small-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 216px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
}

.small-city-text-1 {
  margin: 0 380px;
}
